
/* ---BASEMENT--- */

*{
    margin: 0;
    padding: 0;
}

.navbar{
    z-index: 2;
}

.footer{
    z-index: 3;
}



/* ---CLASSICOLORI--- */

:root{
    --primario: #F4EFFF;
    --secondario: #123F6E;
    --terziario: #FF5900;
    --quaternario: #000000;
}

.primario{
    color: var(--primario);
}

.secondario{
    color: var(--secondario);
}

.terziario{
    color: var(--terziario);
}

.quaternario{
    color: var(--quaternario);
}

.corretto{
    color: green;
}

.sbagliato{
    color: red
}



.linearGradient{
    background: linear-gradient(180deg,rgba(18, 63, 110, 1) 0%, rgba(244, 239, 255, 1) 50%, rgba(255, 89, 0, 1) 100%);
}

.coloreNavbar{
    background-color: var(--secondario);
}

.coloreNavTitle{
    font-size: 3vh;
    color: var(--terziario);
    text-shadow: #F4EFFF 0.3px 0.3px 0.5px;
}

.coloreNavTitle:hover{
    color: var(--primario);
}

.coloreNavTitle:focus{
    color: var(--primario) !important;
}

.coloreNavTitle:active{
    color: var(--primario) !important;
}

.coloreNavTitle2{
    font-size: 3vh;
    text-shadow: #F4EFFF 0.3px 0.3px 0.5px;
}

.coloreNavTitle2:hover{
    color: var(--primario);
}

.coloreNavTitle2:focus{
    color: var(--primario) !important;
}

.coloreNavTitle2:active{
    color: var(--primario) !important;
}

.coloreFooter{
    background-color: var(--secondario);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: none;
    position: relative;
    width: 30px;
    height: 2px;
    background-color: white;
    box-shadow:
    0 8px white,
    0 -8px white;
}



/* ---CLASSI MISURE/POSIZIONI--- */

.marginTop{
    margin-top: 100px;
}

.titoloHome{
    margin-top: 30vh;
    height: 15vh;
}

.margineTop{
    margin-top: 20vh;
}

.cardDimension{
    height: 50vh;
    margin-bottom: 3vh;
}

.creaAnnuncio{
    margin-top: 12vh;    
}

.marginTop{
    margin-top: 20vh;
}

.marginTop2{
    margin-top: 30vh;
}

.marginBottom{
    margin-bottom: 20vh;

}.paginatore {
    position: relative;
    z-index: 1;
}



/* MEDIA QUERY: */

@media (max-width: 768px) {
    .paddingNav {
        padding: 10%;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .paddingNav {
        padding-left: 1%;
    }
}

@media (max-width: 768px){
    .dimensioniRevisione{
        width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 990px){
    .dimensioniRevisione{
        width: 20%;
    }
}

@media (min-width: 990px){
    .posizioneIcona{
        margin-left: 1vw;
    }
}


/* ---CLASSI SFONDI--- */

.sfondoServizi{
    background-image: url(https://images.unsplash.com/photo-1687042277586-971369d3d241?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aXBhZCUyMHBybyUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.sfondoAnnunci{
    background-image: url('../../public/img/sfondoAnnunci.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.sfondoWelcome{
    background-image: url('../../public/img/sfondoWelcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.sfondoCard{
    background-image: url(https://images.unsplash.com/photo-1687042277586-971369d3d241?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aXBhZCUyMHBybyUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
}

.sfondoBottone{
    background-color: #F4EFFF;
}

.sfondoBottone2{
    background-color: #123F6E;
}

.sfondoNavPom{
    background-image: url(/img/Icona_PS.png);
}


/* ---CLASSI SPECIFICHE--- */

.iconaNavbar{
    height: 70px;
    width: 70px;
    background: url(https://sdmntpritalynorth.oaiusercontent.com/files/00000000-fab8-6246-844d-461e2acbafc5/raw?se=2025-04-18T10%3A17%3A45Z&sp=r&sv=2024-08-04&sr=b&scid=948900c3-a74d-58f9-a8cb-e460ea2ed814&skoid=54ae6e2b-352e-4235-bc96-afa2512cc978&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-18T09%3A11%3A37Z&ske=2025-04-19T09%3A11%3A37Z&sks=b&skv=2024-08-04&sig=EPQPAF6gUAhgsZO4KAgiy%2BRYSX0e6cedyepzRWHgnP0%3D);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40%;
}

.noDecor{
    text-decoration: none;
    color: whitesmoke;
}

.sottotitoloHome{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: #F4EFFF 1px 1px 2px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--terziario);
}

.cards{
    border: none;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.article-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.article-card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.bordoBottone{
    border-radius: 40%;
    border: solid;
}

.bordoCard{
    border-radius: 20%;
    border-color: var(--primario);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}



/* ---CLASSI FONTS--- */

.vociNavbar{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.vociNavbar:hover{
    background-color: transparent;
}

.textShadow{
    text-shadow: #F4EFFF 0.5px 0.5px 1px;
}

.textShadow2{
    text-shadow: #F4EFFF 1px 1px 2px;
}

.textShadow3{
    text-shadow: #000000 0.5px 0.5px 1px;
}

.bordoScritte{
    color: #FF5900;
    text-shadow: 
    2px 2px 0 #F4EFFF,   
    -2px 2px 0 #000000;
}

.bordoScritte2{
    color: #FF5900;
    text-shadow: 
    0.5px 0.5px 0 #F4EFFF,   
    -0.5px 0.5px 0 #000000;
}

.bordoScritte3{
    text-shadow: 
    0.5px 0.5px 0 #F4EFFF,   
    -0.5px 0.5px 0 #000000;
}

.titolo{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sottotitolo{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.navbar{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.extra{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textDecor{
    text-decoration: underline;
    color: var(--primario);
    text-underline-offset: 1vh;
}



/* ---POP-UP FEATURES--- */

#popup-success{
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 90%;
    max-width: 600px;
}

/* ALTRO */

.lang-btn{
    margin-left: 40px;
}